doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    script(type='text/javascript'  src='//code.jquery.com/jquery-1.11.0.min.js')
    link(rel='stylesheet' type='text/css' href='/css/application.css')
    title= title
body
  block content