extends ./layout

block content

  h1= id

  .digital#my-time 20

  button#start START
  button#stop STOP

  table#user-list

  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' data-name=name data-session-id=id id='main').
    (function() {
      var socket = io();
      var name = $('#main').data('name');
      var id = $('#main').data('session-id');
      var isHakaring = false;

      //------------------------------------------------------------------
      // ログインに関する処理
      //------------------------------------------------------------------
      // ログインをサーバに通知

      socket.emit('join', {name: name, id: id});
      // 他のユーザのログインを取得
      socket.on('joined', function (data) {
        user = data
        console.log(user);
        $('#user-list').append('<tr id=\"' + user.name + '\"><td class="name">' + user.name + '</td><td class="digital">20</td>');
      });

      socket.on('disconnect', function () {});

      socket.on('removed', function (data) {
        user = data
        console.log(user);
        $('#user-list #' + user.name).remove();
      });

      // 現在ログインしているユーザの一覧を取得
      socket.on('list-user', function (data) {
        console.log(data.users);
        data.users.forEach(function (user, index, arr) {
          $('#user-list').append('<tr id=\"' + user.name + '\"><td class="name">' + user.name + '</td><td class="digital">20</td>');
        });
      });

      //------------------------------------------------------------------
      // 時間に関する処理
      //------------------------------------------------------------------
      $('#start').on("click", function () {
        socket.emit('start', {name: name, id: id});
      });

      $('#stop').on("click", function () {
        socket.emit('stop', {name: name, id: id});
      });

      socket.on('start', function (data) {
        $('#' + data.name + ' .name').css('color', 'Red');
      });

      socket.on('stop', function (data) {
        $('#' + data.name + ' .name').css('color', 'Black');
      });

      function decrementTime() {
        var time = parseInt($('#my-time').text());
        if ( time > 0 && isHakaring ) {
          setTimeout(decrementTime, 1000);
          time--;
          $('#my-time').text(time);
        }
      }

      $('#start').on('click', function () {
        isHakaring = true;
        decrementTime();
      });

      $('#stop').on('click', function () {
        isHakaring = false;
      });
    }).call(this);
