extends ./layout

block content

  h1= id

  ul#user-list

  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' data-name=name data-session-id=id id='main').
    (function() {
      var socket = io();
      var name = $('#main').data('name');
      var id = $('#main').data('session-id');
      socket.emit('join', {name: name, id: id});
      socket.on('joined', function (data) {
        console.log(data);
        $('#user-list').append('<li>' + data.name + '</li>');
      });

      socket.on('list-user', function (data) {
        console.log(data.users);
        data.users.forEach(function (user, index, arr) {
          $('#user-list').append('<li>' + user["name"] + '</li>');
        });
      });
    }).call(this);
